.profile {
  margin: 0 auto;
  display: flex;
  max-width: 880px;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 51px;
  position: relative;
}

@media screen and (max-width: 690px) {
  .profile {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    margin-top: 42px;
    margin-bottom: 36px;
  }
}
