.element__like {
  background-image: url(../../../images/like.svg);
  border: none;
  background-color: transparent;
  width: 22px;
  height: 19px;
  align-self: center;
  padding: 0;
  transition: ease-in-out 0.5s;
  cursor: pointer;
}

.element__like:hover {
  opacity: 0.6;
}
