.header {
  margin: 0 auto;
  padding-top: 45px;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
  transition: all 0.3s linear;
}

@media screen and (max-width: 899px) {
  .header {
    max-width: 95%;
  }
}

@media screen and (max-width: 500px) {
  .header {
    max-width: 100%;
    padding: 48px 27px 0;
  }
}
